<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DALSqlAssembly" value="SWE2-TourPlanner.DataAccessLayer.PostgresSqlServer" />
		<add key="ApiKey" value="gbxoMANTCgZCQPPwmBdaCcXtkpX6KAfJ"/>
		<add key="RoutPhotoFolder" value="D:\informatik\SS2022\SWE2\SWE2-TourPlanner\RoutePhotos" />
	</appSettings>

	<connectionStrings>
		<add name="PostgresSQLConnectionString" connectionString="Server=localhost;Port=5432;User Id=postgres;Password=test;Database=tp;" />
	</connectionStrings>
</configuration>